nav.header
    ul
        li.logo
            .flex-col
                span.line1 Miniature 
                span.line2 Muster
        li
            a.psudobutton(href='/new') New 
        li
            button Share