nav.header
    ul
        li.logo
            .flex-col
                span.line1 Miniature 
                span.line2 Muster
        a.psudobutton(href='/new') New 
        a.psudobutton(href='#' onclick="event.preventDefault()") Share 