@font-face {
  font-family: 'Lugrasimo';
  src: url('/fonts/Lugrasimo-Regular.ttf');
}

$heading-large: 14px "Montserrat", Arial, sans-serif;
$text-main: 13px "Lugrasimo", "Lucida Grande", Helvetica, Arial, sans-serif;
// Lugrasimo 

$primary: blue;
$secondary: grey;
$highlight: #CCCCCC;
$bg-semidark: #444444;
$bg-dark: #333;
$bg-darker: #282828;


$font-light: #ABD2FA;
$font-semilight: #8BC2F8;
$font-medium: #65ADF6;
$font-semidark: #2B8FF3;
$font-dark: #0C70D4;

* { 
  box-sizing: border-box 
};

.h-100 {
  height: 100%;
}

.header, footer {
  background-color: $bg-darker;
  
}
main {
  // padding: 2rem 2rem 0 2rem;
  font: $text-main;
  height: calc(100vh - 9rem);
  // overflow-y: scroll;
}

body {
  padding: 0;
  margin: 0;
  background-color: $bg-dark;
  color: $font-medium;
}

h1 {
  font: $heading-large;
  font-size: 2.5rem;
}

input, select, button {
  color: $font-semidark;
  background-color: transparent;
  border: 3px solid $font-semilight;
  border-radius: 0.5em;
  padding: 0.5em;
  transition: ease-in-out 0.2s;
  font: $text-main;
  font-size: 0.8rem;
}
label {
  display: block;
}

a {
  color: $font-medium;
  text-decoration: none;
  display: inline-block;
}

nav.header {
  text-decoration: none;
  font-size: 0.8rem;
  padding: 0 2rem;
  height: 6rem;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    .logo {
      > div {
        position: relative;
        top: -0.5rem;
      }
    }
    > * {
      display: inline-block;
      padding: 0.25rem;
      line-height: 1.5rem;
      width: 6rem;
      text-align: center;
      border: 3px solid;
      border-radius: 0.25rem;
      &:first-child {
        text-align: unset;
        align-self: baseline;
        flex-grow: 1;
        font: 14px "Lato", 'Courier New', Courier, monospace;
        font-size: 2.25rem;
        border: none;
        letter-spacing: 0.25em;
        text-shadow: 4px 4px 8px black;
      }
      &:nth-child(2) {
        line-height: 2rem;
        margin: 0.25em 0.5em;
      }
      &:nth-child(3) {
        line-height: 2rem;
        margin: 0.25em 0.5em;
      }
      .line1 {
        font-size: 1.5rem;
        display: inline-block;
        vertical-align: bottom;
        position: relative;
        bottom: -0.4rem;
        &::first-letter {
          font-size: 3.0rem;
        }
      }
      .line2 {
        position: relative;
        top: -0.4rem;
        display: inline-block;
        font-size: 2.65rem;
        text-transform: uppercase;
        font-weight: lighter;
        letter-spacing: 0.30em;
        &::first-letter {
          top: -0.6rem;
          font-size: 3.0rem;
          vertical-align: top;
        }
      }
      
    }
  }
}

// button:hover:enabled, a:hover:enabled {
//   transition: ease-in-out 0.2s;
//   &:hover {
//     text-shadow: 0px 0px 1px whitesmoke;
//     box-shadow: 0px 0px 10px $font-semidark inset;
//     text-decoration: underline;
//   }
// }

button, a, input[type='submit'], .pseudobutton {
  transition: ease-in-out 0.2s;
  &:hover:enabled {
    text-shadow: 0px 0px 1px whitesmoke;
    box-shadow: 0px 0px 10px $font-semidark inset;
    text-decoration: underline;
    cursor: pointer;
  }
  &:disabled {
    color: #aaa;
    border: 3px solid #aaa;
  }
}

.inline {
  display: inline-block;
}
.input-group {
  &:last-child {
    margin-left: 0.75rem; 
  }
}
.input-group.inline {
  flex: 1;
  input, select, button {
    width: 100%;
  }
}

.tab-container {
  // height: calc(100vh - 12rem);
  height: 100%;
  .tab {
    display: none;
    width: 100%;
    max-width: 1000px;
    margin: 0px auto;
    flex-direction: column;
    height: 100%;
    justify-content: stretch;
    .tab-main {
      // flex-grow: 1;
      flex: 1;
      display: flex;
      flex-direction: column;
    }
  }
  .tab.active {
    // display: block;
    display: flex;
  }
}

.step-buttons {
  .button {
    flex-grow: 1;
  }
  * {
    margin: 0.5rem;
  }
}

footer {
  height: 3rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 0.6rem;
  padding: 0.75rem;
  text-align: center;
}



.unit-details {
  padding: 0.5rem;
  > * {
    margin: 0.5rem 0;
  }
  .unit-header {
    > * {
      &:first-child {
        font-weight: bolder;
        flex-grow: 1;
      }
    }
  }
  .unit-modifiers {
    min-height: 4rem;
  }
  .add-unit-container {
    align-items: center;
    .subtotal-label {
      flex-grow: 1;
      text-align: right;
    }
    .subtotal-value {
      font-weight: bolder;
    }
    > * {
      margin-left: 0.25rem;
    }
  }
}

.stats-grid-container {
  flex-grow: 1;
}

.stats-grid {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr 0.8fr 0.2fr 0.8fr 0.2fr 0.8fr;
  width: 100%;
  * {
    text-overflow: ellipsis;
    text-align: center;
  }
  .grid-header {
    font-weight: bolder;
  }
}

.player-tab-control{
  color: $font-medium;
  transition: ease-in-out 0.2s;
  .player-tab-labels {
    text-decoration: none;
    border: none;
    padding: 0.5rem 0.25rem 0 0.5rem;
    .player-tab-label {
      padding: 0.75rem 0.75rem 0.25rem 0.75rem;
      border-left: 1px solid $font-medium;
      border-top: 1px solid $font-medium;
      border-right: 1px solid $font-medium;
      border-radius: 0.5rem 0.5rem 0rem 0rem;
      background-color: $bg-semidark;
      &.active, &:hover {
        border-left: 3px solid $font-medium;
        border-top: 3px solid $font-medium;
        border-right: 3px solid $font-medium;
      }
      &.active {
        text-shadow: 0px 0px 1px whitesmoke;
        text-decoration: underline;
      }
    }
  }
  .player-tab-container {
    border: 1px solid $font-medium;
    border-radius: 0.25rem;
    padding: 0.5rem 0.25rem;
    background-color: $bg-semidark;
    .player-tab-content {
      display: none;
      padding: 20px;
      &.active {
        display: block;
      }
      h3 {
        text-overflow: ellipsis;
        line-height: 2rem;
        margin: 0.5rem 0.25rem;
      }
    }
  }
  
}
.selection-display-details {
  .unit-list {
    height: 28em;
    overflow-y: scroll;
  }
}

.unit-compare-pane {
  .player-tab-content {
    > :first-child {
      display: none;
    }
  }
  .unit-list {
    height: 9em;
    overflow-y: scroll;
  }
}
//   

.unit-modifiers {
  button {
    width: 100%;
  }
}
.two-pane {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  > * {
    // display: inline-block;
    display: flex;
    flex-direction: column;
    // width: 50%;
    // &:first-child {
    //   margin-right: 1rem;   
    // }
  }
  
}
.unit-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 0.5rem;
  // display: flex;
  // flex-direction: column;
  > * {
    width: 100%;
    display: block;
    padding: 0.5rem;
    &:nth-child(1) {
      border-radius: 0.5rem 0.5rem 0 0;
    }
    &:nth-child(2) {
      border-top: none;
      border-radius: 0 0 0.5rem 0.5rem;
    }
  }
  select {
    overflow-y: scroll;
    height: 14em;
  }
  .unit-list-item {
    background-color: $bg-dark;
    border-radius: 0.5rem;
    .grid-item {
      // font: $heading-large;
      font-size: 0.75rem;
    }
    .flex-row {
      > div {
        width: 100%;
      }
      flex-wrap: nowrap;
    }
    .unit-list-item-header {
      align-items: center;
      // margin-bottom: 0.5rem;
      > * {
        // margin-left: 0.5rem;
        :first-child {
          margin-left: 0;
        }
      }
      button {
        border-radius: 999px;
        width: 2.25em;
        height: 2em;
        line-height: 0.75em;
        &:hover:enabled {
          box-shadow: 0px 0px 10px red inset;
          border-color: red;
          color: white;
        }
      }
    }
    .unit-mod-display {
      margin: 0.15rem;
      padding: 0.15rem;
      padding-left: 0.65rem;
      border-left: 1px solid $font-semidark;
      border-radius: 0.25rem 0 0 0.25rem;
      > * {
        display: block;
      }
      em {
        font-size: 0.75rem;
        font-weight: lighter;
      }
    }
  }
}

.unit-compare-pane {
  .unit-list-item-header{
    // margin: 1.5rem 0 0;
    display: inline-block;
    width: 15em;

  }

  .unit-compare-details {
    transition: ease-in-out 0.2s;
  }
  .unit-compare-outcomes {
    border-top: 1px solid $font-medium;
  }
}

.unit-list-item {
  transition: ease-in-out 0.2s;
  &.active {
    border-left: 3px solid; // Make border on only two sides, but then also add border-radius
    border-right: 3px solid;
    border-radius: 0.5em;
  }
  &:hover {
    background-color: $bg-darker;
  }
}

.wound-chart {
  display: grid;
  grid-template-columns: '40px auto auto auto auto auto auto auto auto auto auto auto';
  padding: 0.5rem;
  margin-left: -4em;
  text-align: center;
  .col-label, .row-label {
    text-transform: uppercase;
    margin-bottom: 0.75rem;
    margin-right: 0.25rem;
  }
  .col-num-label {
    // border-bottom: 1px solid;
  }
  .row-num-label {
    // border-right: 1px solid;
  }
  .wound-val {
    padding: 0.15em 0.25em;
    transition: ease-in-out 0.2s;
    font-size: 0.60rem;
    line-height: 0.85rem;
    &.active.pulse-animation {
      animation: pulse 0.25s ease-out;
    }
    @keyframes pulse {
      from {
        scale: 1.5;
      }
      to {
        scale: 1.0;
      }
    }
  }
  .num-label {
    font-weight: bolder;
  }
  .active {
    font-weight: bold;
    text-shadow: 0 0 2px $font-light;
  }
  .intersection {
    border: 1px solid;
    border-radius: 99px;
    box-shadow: 0px 0px 1em $font-light;
  }
}

.tab-overlay-container {
  position: absolute; 
  top: 10rem;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(64,64,64,0.4);
  transition: ease-in-out 0.2s;
  .tab-overlay.unit-comparison {
    width: 10rem;
    border: 3px solid;
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    &:hover {
      box-shadow: 0px 0px 20px $font-semidark inset;
      cursor: pointer;
    }
    span {
      display: inline-block;
      font-size: 3rem;
      text-align: center;
      &.slide-to-left {
        animation: slide-left 0.25s ease-out;
      }
      &.slide-to-right {
        animation: slide-right 0.25s ease-out;
      }
      @keyframes slide-left {
        to {
          transform: translateX(-4rem); /* Move the element to the right by 200 pixels */
          opacity: 0; /* Make the element completely transparent */
        }
      }
      @keyframes slide-right {
        to {
          transform: translateX(4rem);
          opacity: 0;
        }
      }
    }
  }
}

.outcomes-container {
  width: 12em;
  border: 1px solid;
  border-radius: 0.5rem;
  margin-left: 1em;
  .outcome {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    text-shadow: 0 0 12px black;
  }
  .outcome-melee {
    justify-content: center;
    > * {
      display: inline-block;
    }
  }
  .outcome-ranged {
    border-top: 1px solid;
    justify-content: space-around;
    padding: 0;
    > * {
      padding: 0.5rem;
    }
  }
  .outcome-label {
    font-weight: lighter;
    letter-spacing: 0.2rem;
  }
  .outcome-label-bottom {
    text-align: center;
  }
  .outcome-label-right {
    text-align: left;
  }
  .outcome-value {
    font: $heading-large;
    font-size: 4rem;
    font-weight: bolder;
  }
  .outcome-icon {
    z-index: -1;
    font-size: 8rem;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6; /* Adjust the opacity as needed */
    filter: blur(4px); /* Adjust the blur radius as needed */
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: translate(calc(50% - 4rem), 0%);
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.inline {
  display: inline-block;
}

.unit-compare-pane .grid-item {
  position: relative;
}
.floating-stat-button-container {
  position: absolute;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  transform: scale(1.25) translate(65%, -80%);
  .floating-stat-buttons {
    line-height: 1rem;
    border: none;
    border-radius: 9999px;
    padding: 0;
    font-family: monospace;
    width: 10px;
    height: 10px;
    line-height: 10px;
    display: block;
    float: right;
    &.floating-stat-button-increase {
      // background-color: green;
      bottom: 2.5rem;
    }
    &.floating-stat-button-decrease {
      // background-color: red;
      bottom: 1rem;
    }
  }
}

.modal, #share-modal {
  display: none;
  position: fixed;
  font-family: 'Courier New', Courier, monospace;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  a {
    text-decoration: underline;
    cursor: pointer;
    word-wrap: anywhere;
  }
  /* Style for the close button */
  .modal-content {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    padding: 2.0rem;
    height: 80%;
    max-height: 40vh;
    background-color: #222;
    border: 3px solid #888;
    border-radius: 0.5rem;
    text-overflow: ellipsis;
    overflow-y: scroll;
    transform: translate(0,50%);
  }
  .modal-close {
    color: #888;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
}

