$heading-large: 14px "Montserrat", Arial, sans-serif;
$text-main: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
$primary: blue;
$secondary: grey;
$highlight: #CCCCCC;
$bg-dark: #333;
$bg-darker: #282828;


$font-light: #ABD2FA;
$font-semilight: #8BC2F8;
$font-medium: #65ADF6;
$font-semidark: #2B8FF3;
$font-dark: #0C70D4;

.header, footer {
  background-color: $bg-darker;
  .logo {
    .line1 {
      &::first-letter {
        font-size: 3rem;
      }
    }
  }
}
main {
  padding: 2rem;
  font: $text-main;
  height: calc(100vh - 16rem);
  overflow-y: scroll;
}

body {
  padding: 0;
  margin: 0;
  background-color: $bg-dark;
  color: $font-medium;
}

h1 {
  font: $heading-large;
  font-size: 2.5rem;
}

input, select, button {
  color: $font-semidark;
  background-color: transparent;
  border: 3px solid $font-semilight;
  border-radius: 0.5em;
  padding: 0.5em;
  transition: 0.3s ease-out;
}
label {
  display: block;
}

a {
  color: $font-medium;
  text-decoration: none;
}

nav.header {
  text-decoration: none;
  font-size: 0.8rem;
  padding: 0 2rem;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    li {
      display: inline;
      padding: 0.25rem;
      line-height: 1.5rem;
      &:first-child {
        flex-grow: 1;
        font: 14px "Lato", 'Courier New', Courier, monospace;
        font-size: 2.25rem;
        border: none;
        letter-spacing: 0.25em;
        text-shadow: 4px 4px 8px black;
      }
      &:nth-child(2) {
        border: 3px solid;
        border-radius: 0.25rem;
      }
      .line1 {
        font-size: 1.5rem;
        display: inline-block;
        vertical-align: bottom;
        position: relative;
        bottom: -0.4rem;
        &::first-letter {
          font-size: 2.5rem;
        }
      }
      .line2 {
        position: relative;
        top: -0.4rem;
        display: inline-block;
        font-size: 2.65rem;
        text-transform: uppercase;
        font-weight: lighter;
        letter-spacing: 0.30em;
        &::first-letter {
          top: -0.6rem;
          font-size: 3.0rem;
          vertical-align: top;
        }
      }
    }
    
  }
}

button, a:hover {
  transition: ease-in-out 0.2s;
  &:hover {
    text-shadow: 0px 0px 1px whitesmoke;
    text-decoration: underline;
  }
}

.inline {
  display: inline-block;
}
.input-group {
  margin-right:0.75rem; 
}
.input-group.inline {
  width: 45%;
  input, select, button {
    width: 100%;
    text-align: right;
  }
}

.tab-container {
  height: calc(100vh - 16rem);
  .tab {
    display: none;
    width: 100%;
    max-width: 800px;
    margin: 0px auto;
    flex-direction: column;
    height: 100%;
    justify-content: stretch;
    .tab-main {
      flex-grow: 1;
    }
  }
  .tab.active {
    // display: block;
    display: flex;
  }
}

.step-buttons {
  .button {
    flex-grow: 1;
  }
  * {
    margin: 0.5rem;
  }
}

footer {
  height: 3rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 0.6rem;
  padding: 0.75rem;
  text-align: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

.unit-details {
  .unit-header {
    > * {
      &:first-child {
        flex-grow: 1;
      }
    }
    
  }
  .add-unit-container {
    align-items: center;
    .subtotal-label {
      flex-grow: 1;
      text-align: right;
    }
    .subtotal-value {
      font-weight: bolder;
    }
    > * {
      margin: 0.25rem;
    }
  }
}

.stats-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 3fr;
  width: 100%;
  * {
    text-overflow: ellipsis;
    text-align: center;
  }
  .grid-header {
    font-weight: bolder;
  }
}

.player-tab-control{
  .player-tab-labels {
    text-decoration: none;
    border: none;
    padding: 1rem;
    &.active {
      background-color: $highlight;
      border-left: 3px solid #888;
      border-top: 3px solid #888;
      border-right: 3px solid #888;
    }
  }
  .player-tab-content {
    display: none;
    padding: 20px;
    // border: 1px solid #777;
    // border-radius: 0 5px 5px 5px;
    // background-color: #fff;
    &.active {
      display: block;
    }
  }
}
.unit-modifiers {
  button {
    width: 100%;
  }
}
.two-pane {
  flex-grow: 1;
  >* {
    width: 50%;
    margin: 0.5rem 1rem;
  }
}
.unit-list {
  list-style: none;
  padding: 0;
  .unit-list-item {
    .flex-row {
      > div {
        width: 100%;
      }
    }
  }
}